body {
    font-family: 'Electrolize', sans-serif;
    color: rgb(26, 73, 40);
    background-color: rgb(252, 240, 206);
}
.cropped_image {
    width: 18em;  
    height: 10em;
    object-fit: cover;
    object-position: center;
}
.green_shit {
    background-color: rgba(19, 53, 29);
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    margin: 0px;
}
.naviguess {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 5%;
}
table {
   border: 0cm; 
}
.grid_view {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(155, 175, 0, 0.418);
    padding: 2em;
    border-radius: 2em
}
.grid_view p {
    max-width: 24em;
    font-size: 1.7em;
}
#bottom_text {
    max-width: 24em;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.7em;
}
.double_image{
    width: 18em;
    border-radius: 1em;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.cursive {
    font-size: larger;
    text-align: center;
    font-family: 'Lucida Handwriting', cursive;
}
a img {
    background-color: white;
    width: 100px;
    border-radius: 1.3em;
}
a img:hover {
    scale: 1.05;
}
footer {
    align-items: center;
    justify-content: center;
}