body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background-color: #f4f6fa;
  font-size: 11pt;
}

input,
button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.kartica {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  margin: 20px auto;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  margin: 20px auto;
  justify-content: space-around;
  border-radius: 15px;
  align-items: center;
}

.labels p {
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
  width: 75px;
}

.kartica img {
  width: 85px;
  height: 85px;
  border-radius: 5px;
}

.kartica p {
  align-content: center;
  word-wrap: normal;
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
  height: 75px;
  width: 75px;
}

.istrue {
  background-color: greenyellow;
}

.iskindatrue {
  background-color: orange;
}

.isfalse {
  background-color: red;
}

.kartica h2 {
  align-content: center;
  word-wrap: normal;
  height: 75px;
  width: 75px;
  text-transform: capitalize;
}